In [95]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import string
import warnings
warnings.simplefilter("ignore")
from statsmodels.formula.api import ols
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.api as sm
import scipy.stats as stats
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.feature_selection import RFE

In [4]:
df = pd.read_csv("master_df.csv")

In [7]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,zipcode,lat,long,sqft_living15,sqft_lot15,basement,year,Renovated,age_when_sold,month
0,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,...,98178,47.5112,-122.257,1340,5650,0,2014,0,59,10
1,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,...,98125,47.7210,-122.319,1690,7639,1,2014,1,63,12
2,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,...,98028,47.7379,-122.233,2720,8062,0,2015,0,82,2
3,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,...,98136,47.5208,-122.393,1360,5000,1,2014,0,49,12
4,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,...,98074,47.6168,-122.045,1800,7503,0,2015,0,28,2

In [82]:

df_features = df[['floors','age_when_sold','view']]

In [84]:
df_features['bedrooms+bathrooms'] = df['bedrooms'] + df['bathrooms']

In [85]:
df_features

       floors  age_when_sold  view  sqft_above  bedrooms+bathrooms
0         1.0             59     0      1180.0                4.00
1         2.0             63     0      2170.0                5.25
2         1.0             82     0       770.0                3.00
3         1.0             49     0      1050.0                7.00
4         1.0             28     0      1680.0                5.00
...       ...            ...   ...         ...                 ...
21592     3.0              5     0      1530.0                5.50
21593     2.0              1     0      2310.0                6.50
21594     2.0              5     0      1020.0                2.75
21595     2.0             11     0      1600.0                5.50
21596     2.0              6     0      1020.0                2.75

[21597 rows x 5 columns]

In [86]:
df_features_corr = df_features.corr()
df_features_corr

,floors,age_when_sold,view,sqft_above,bedrooms+bathrooms
floors,1.000000,-0.489514,0.028414,0.519212,0.373192
age_when_sold,-0.489514,1.000000,0.054467,-0.420824,-0.361909
view,0.028414,0.054467,1.000000,0.168057,0.145960
sqft_above,0.519212,-0.420824,0.168057,1.000000,0.660023
bedrooms+bathrooms,0.373192,-0.361909,0.145960,0.660023,1.000000

In [87]:
abs(df_features_corr) > 0.50

,floors,age_when_sold,view,sqft_above,bedrooms+bathrooms
floors,True,False,False,True,False
age_when_sold,False,True,False,False,False
view,False,False,True,False,False
sqft_above,True,False,False,True,True
bedrooms+bathrooms,False,False,False,True,True

In [88]:
# Begin building the OLS model

In [89]:
y = df['price']

x = df_features

In [90]:
X = sm.add_constant(x)

In [91]:
linreg = sm.OLS(y, X).fit()
print(linreg.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.498
Model:                            OLS   Adj. R-squared:                  0.498
Method:                 Least Squares   F-statistic:                     4284.
Date:                Thu, 04 Jun 2020   Prob (F-statistic):               0.00
Time:                        02:55:13   Log-Likelihood:            -2.9995e+05
No. Observations:               21597   AIC:                         5.999e+05
Df Residuals:                   21591   BIC:                         6.000e+05
Df Model:                           5
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const              -2.569e+05   1.03e+04    -25.023      0.000   -2.77e+05   -2.37e+05
floors              1.364e+04   4100.328      3.327      0.001    5603.464    2.17e+04
age_when_sold       2801.1634     72.031     38.888      0.000    2659.978    2942.349
view                1.286e+05   2379.143     54.047      0.000    1.24e+05    1.33e+05
sqft_above           245.5026      3.134     78.335      0.000     239.360     251.646
bedrooms+bathrooms  3.369e+04   1611.998     20.898      0.000    3.05e+04    3.68e+04
==============================================================================
Omnibus:                    15497.479   Durbin-Watson:                   1.979
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           759530.244
Skew:                           2.922   Prob(JB):                         0.00
Kurtosis:                      31.459   Cond. No.                     1.18e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.18e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [93]:
#These are my training and test sets of data.
X_train, X_test, y_train, y_test = train_test_split(df_features,df['price'],test_size=0.2)

In [98]:
selector = RFE(linreg, n_features_to_select=1)
selector = selector.fit(X_train,y_train)

TypeError: Cannot clone object '<statsmodels.regression.linear_model.RegressionResultsWrapper object at 0x000001A5E66BF0B8>' (type <class 'statsmodels.regression.linear_model.RegressionResultsWrapper'>): it does not seem to be a scikit-learn estimator as it does not implement a 'get_params' methods.